html {
  position: relative;
  min-height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  color: blue;
  text-align: center;
  height: 15px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.formReq {
  justify-content: center;
}

.btn-scrolltop {
  position: fixed;
  bottom: 10px;
  right: 40px;
  background: #aaaaaa;
  color: blue;
  padding: 15px 20px;
  border: 1px;
  cursor: pointer;
  border-radius: 100%;
  transform: translateY(100px);
  transition: 1s;
}

.btn-scrolltop-on {
  transform: translateY(0);
}

.control {
  font-size: 20px;
}

.descripcionodc {
  max-width: 150px;
}

.directivoodc{
  max-width: 135px;
}

.error400{
  background-color: #aaaaaa;
}
