<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" />

  <title>Nueva Orden de Compra</title>
</head>

<body>
  <div class="container">
    <h1
      class="text-center font-italic text-success border-top-0 border-bottom border-right-0 border-left-0 mt-5 border border-dark">
      Nueva orden de Compra
    </h1>

    <form th:action="@{/saveodc}" th:object="${odc}" autocomplete="off" method="POST">
      <input type="hidden" th:field="*{id_odc}">

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="descripcion">Descripción</label>
          <input type="text" class="form-control" th:field="*{descripcion}" placeholder="Descripción" required="true" />
        </div>

        <div class="form-group col-md-6">
          <label for="factura">Factura</label>
          <input type="text" class="form-control" th:field="*{factura}" placeholder="Factura" required="true" />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="fecha">Fecha</label>
          <input type="date" class="form-control" th:field="*{fecha}" required="true" />
        </div>
        <div class="form-group col-md-6">
          <fieldset class="form-group row mt-3">
            <legend class="col-form-label col-sm-2 float-sm-left pt-0">
              Flete
            </legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="si" id="si" value="SI" checked th:field="*{flete}"
                  required="true" />
                <label class="form-check-label" for="si"> Si </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="no" id="no" value="NO" th:field="*{flete}"
                  required="true" />
                <label class="form-check-label" for="no"> No </label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <div class="input-group-prepend">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Total"
              th:field="*{total}" required="true" />
          </div>
        </div>

        <div class="form-group col-md-6">
          <select id="area" class="form-control" th:field="*{area}" required="true">
            <option value="" selected="selected">Area que Solicita.</option>
            <option th:each="a:${areas}" th:value="${a.id_area}" th:text="${a.nombre}"></option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <select id="cfdi" class="form-control" th:field="*{cfdi}" required="true">
            <option value="" selected="selected">Selecione uso CFDI</option>
            <option th:each="c:${cfdis }" th:value="${c.id_cfdi}" th:text="${c.codigo}+ ' - '+ ${c.nombre}"></option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <select id="directivo" class="form-control" th:field="*{directivo}" required="true">
            <option value="" selected="selected">
              Selecione un Directivo
            </option>
            <option th:each="d:${directivos}" th:value="${d.id_directivo}" th:text="${d.nombre}"></option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <select id="req" class="form-control" th:field="*{req}" required="true">
            <option value="" selected="selected">
              Selecione Requisición
            </option>
            <option th:each="r:${reqs}" th:value="${r.id_req}" th:text="${r.codigo}+'  '+ ${r.nombre}"></option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <select id="status" class="form-control" th:field="*{status}" required="true">
            <option value="" selected="selected">Selecione un Estatus</option>
            <option th:each="s:${status}" th:value="${s.id_status}" th:text="${s.nombre}"></option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <select id="usuario" class="form-control" th:field="*{usuario}" required="true">
            <option value="" selected="selected">Selecione Usuario</option>
            <option th:each="u:${usuarios}" th:value="${u.id_usuario}"
              th:text="${u.nombres}+ ' '+${u.apellidoPaterno}+ ' '+ ${u.apellidoMaterno}"></option>
          </select>
        </div>

        <div class="form-group col-md-6">
          <select id="proveedor" class="form-control" th:field="*{proveedor}" required="true">
            <option value="" selected="selected">Seleccione Proveedor</option>
            <option th:each="p:${prov}" th:value="${p.id_proveedor}" th:text="${p.nombre}+' - ' + ${p.rfc}"></option>
          </select>
        </div>
      </div>

      <div class="form-row justify-content-center mt-3">
        <div class="form-group col-md-6">
          <input type="submit" class="btn btn-outline-success btn-lg btn-block" />
        </div>
      </div>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>
</body>

</html>