<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" />

  <link rel="stylesheet" th:href="@{/css/estilos.css}" />

  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css}" />

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <title>Ordenes de Compra</title>
</head>

<body>

  <header th:insert="fragments/header :: header"></header>
  <div class="arrow"></div>

  <!-- flecha ir arriba   -->
  <button class="btn-scrolltop btn-lg" id="btn_scrolltop">
    <i class="bi bi-arrow-up-circle-fill"></i>
  </button>

  <script>
    const btn_scrolltop = document.getElementById("btn_scrolltop");
    btn_scrolltop.addEventListener("click", () => {
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
    });

    window.onscroll = () => {
      if (window.scrollY < 500) {
        btn_scrolltop.classList.remove("btn-scrolltop-on");
      } else {
        btn_scrolltop.classList.add("btn-scrolltop-on");
      }
    };
  </script>

  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="container-fluid d-flex justify-content-start">
        <a class="btn btn-outline-primary" href="javascript:history.back()"><i
            class="bi bi-chevron-double-left"></i>Regresar</a>
      </div>
    </div>

    <div class="form-group col-md-6">
      <div class="container-fluid d-flex justify-content-end">
        <a th:href="@{/newodc}" type="button" class="btn btn-success"><i class="bi bi-plus-lg">&nbsp;</i>Nueva Orden de
          Compra
        </a>
      </div>
    </div>
  </div>
  <hr />

  <div class=" table-responsive-md container-fluid mt-2 mb-5">
    <table class=" table table-hover text-center mb-5">
      <thead>
        <tr>
          <th scope="col">ODC</th>
          <th scope="col">DESCRIPCIÓN</th>
          <th scope="col">FACTURA</th>
          <th scope="col">FECHA</th>
          <th scope="col">FLETE</th>
          <th scope="col">USO CFDI</th>
          <th scope="col">AUTORIZA</th>
          <th scope="col">ESTATUS</th>
          <th scope="col">USUARIO</th>
          <th scope="col">AREA</th>
          <th scope="col">TOTAL</th>
          <th scope="col">ACCIONES</th>
        </tr>
      </thead>
      <tbody th:each="odc : ${odcs}">
        <tr>
          <td th:text=" ${odc.req.codigo}+'/'+ ${odc.id_odc} "></td>

          <td class="descripcionodc text-truncate" th:text="${#strings.capitalize(odc.descripcion)}"></td>
          <td th:text="${#strings.toUpperCase(odc.factura)}"></td>
          <td th:text="${#dates.format(odc.fecha,'dd-MM-yyyy')}"></td>

          <td>
            <span th:if="${odc.flete == 'SI'}" class="badge badge-pill badge-success">SI</span>

            <span th:unless="${odc.flete == 'SI'}" class="badge badge-pill badge-danger">NO</span>
          </td>

          <td th:text="${odc.cfdi.codigo}"></td>
          <td class="directivoodc text-truncate" th:text="${odc.directivo.nombre}"></td>

          <td th:switch="${odc.status.id_status}">
            <span th:case="1" class="badge badge-success">Autorizada</span>
            <span th:case="2" class="badge badge-danger">Cancelada</span>
            <span th:case="3" class="badge badge-warning">Pendiente</span>
          </td>

          <td th:text="${odc.usuario.username}"></td>

          <td th:text="${odc.usuario.area.nombre}"></td>
          <td th:text="'$'+${#numbers.formatDecimal(odc.total, 1, 'COMMA', 2, 'POINT')}"></td>
          <td>
            <a href="">
              <i class="bi bi-pencil control" data-toggle="tooltip" data-placement="top" title="Editar"></i>
            </a>
            &nbsp; &nbsp;
            <a th:href="@{/deleteodc/{id} (id=${odc.id_odc}) }"
             title="Eliminar Usuario"
            onclick="return confirm('Estas seguro de Eliminar el Ususario ?');"><i class="bi bi-trash control" data-toggle="tooltip" data-placement="top"
                title="Eliminar"></i></a>
            &nbsp; &nbsp;
            <a th:href="@{/detalleodc/{id} (id=${odc.id_odc}) }"><i class="bi bi-receipt-cutoff" data-toggle="tooltip"
                data-placement="top" title="Detalle"></i></a>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="container">
      <hr />
    </div>
  </div>

  <footer th:insert="fragments/footer :: footer"></footer>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>
</body>

</html>